![](specialregulering_2019.PNG)
![](specialregulering_2018.PNG)
source: https://energinet.dk/El/Systemydelser/indkob-og-udbud/Pris-paa-reserver

In [14]:
import numpy as np
import pandas as pd

In [15]:
prices_2017 = [0,0,0,0,0,0,0,0,0,0,0,0]
prices_2018 = [-47,-1,-112,-14,-129,-143,-10,-51,-106,-100,-43,-36,]
prices_2019 = [28,-42,-84,-70,-59,-132,-150,-148,-148,-131,-54,-92]

prices = prices_2017 + prices_2018 + prices_2019

In [16]:
T = pd.date_range('2017-01-01T00:00','2019-12-31T23:00',freq='H')
specialreg_price = []
for hour in T:
    specialreg_price.append(prices[(hour.year-2017)*12+hour.month-1])

In [17]:
df_specialreg= pd.DataFrame(index=T,data=dict(specialregulering_dk1_pris=specialreg_price))

In [18]:
df_volume = pd.read_csv('data/special-regulation-volume_2017-2019_dk1_hourly.csv',delimiter=';',decimal=',')

In [19]:
df_volume.tail()

             date    Hours    Up  Down
26278  31-12-2019  19 - 20  37.8   0.0
26279  31-12-2019  20 - 21   0.0   0.0
26280  31-12-2019  21 - 22   0.0   0.0
26281  31-12-2019  22 - 23   0.0   0.0
26282  31-12-2019  23 - 00   0.0   0.0

In [30]:
(df_volume['Up']>0)[0:-3]

0        False
1        False
2        False
3        False
4        False
         ...
26275    False
26276     True
26277     True
26278     True
26279    False
Name: Up, Length: 26280, dtype: bool

In [36]:
df_specialreg['VolumeUp'] = df_volume['Up'].values[0:-3]
df_specialreg['VolumeDown'] = df_volume['Down'].values[0:-3]
df_specialreg['UpActive'] = (df_volume['Up']>0).values[0:-3].astype(int)
df_specialreg['DownActive'] = (df_volume['Down']>0).values[0:-3].astype(int)

In [37]:
df_specialreg.tail()

,specialregulering_dk1_pris,VolumeUp,VolumeDown,UpActive,DownActive
2019-12-31 19:00:00,-92,0.0,0.0,0,0
2019-12-31 20:00:00,-92,46.6,0.0,1,0
2019-12-31 21:00:00,-92,68.2,0.0,1,0
2019-12-31 22:00:00,-92,37.8,0.0,1,0
2019-12-31 23:00:00,-92,0.0,0.0,0,0

In [38]:
df_specialreg.to_csv('data/specialReg_2017-2019_dk1.csv')